# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=

# Secret Key JWT
JWT_SECRET=

# PORTA DO SERVIDOR
PORT=3333

#cloudinary
CLOUDNARY_NAME=
CLOUDNARY_KEY=
CLOUDNARY_SECRET=